.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.comicImage {
    border-radius: 15px;
}

.comicDetails {
    font-size: 1.5rem;
}