.title {
    text-align: center;
    font-family: 'Eater', cursive;
    font-size: 3rem;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #7360eb 0px 0px 20px, #ff2d2d 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #ffffff;
}